<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyFNM1mWZ9Frb_MJpUVq1iUq8xMukSR_s</string>
	<key>GCM_SENDER_ID</key>
	<string>352585144890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jman2376.gigdogs</string>
	<key>PROJECT_ID</key>
	<string>myagent-d1263</string>
	<key>STORAGE_BUCKET</key>
	<string>myagent-d1263.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352585144890:ios:a65d9080c8aa999c12b303</string>
</dict>
</plist>